header {
  background-color: #082c4e;
  padding-bottom: 2em;
}

.description {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-right: 9em;
  margin-left: 9em;
  margin-top: 5em;
}

.description-text {
  max-width: 47em;
  margin-top: 2em;
}

.navbar a {
  text-decoration: none;
  font-family: sans-serif;
  transition: 0.2s linear;
  margin: 0 1rem;
  font-size: 1.3rem;
  color: #fff;
}

.navbar1 {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #082c4e;
  width: 100%;
  z-index: 5;
}

.navbar {
  justify-content: end;
}

.navbar a:hover {
  border-bottom: 2px solid yellow;
  padding-bottom: 0.5rem;
}

.logo img {
  height: 3rem;
}

.title {
    color: white;
    font-size: 56px;
    font-family: "Times New Roman", Times, serif;
}

.title2 {
    color: white;
    font-family: "Times New Roman", Times, serif;
    font-size: large;
}
  .img {
    height: 18em;
  }
  
  .highlighted {
    color: yellow;
  }

footer {
  background-color: #F2EAE2;
}

body {
  margin: 0;
}

.row{
    justify-content: space-around;
}

.courses-title{
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    font-size: 52px;
}

.article {
margin: 2em;
padding: 1em;
justify-content: space-between;
}

.article-html {
    background-color: #FE6571;
}

.article-css {
    background-color: #F2EAE2;
}

.article-js {
    background-color: #FFCC00;
}
.icon{
    margin-top: 2em;
    height: 6em;
    margin-bottom: 2em;
    margin-left: 1em;
}
.article h1,p{
    margin-left: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: justify;
}
.read-more-btn {
    color: black;
    text-decoration: none;
    margin-left: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.read-more-btn:hover {
    border-bottom: 2px solid black;
}
.box-container{
    display: flex;
    margin: 4em;
    justify-content: space-around;
   
}
.box{
    display: flex;
    flex-direction: column;
    margin-top: 3em;
}
.box h3{
    color: black;
}
.link{
    color: black;
    text-decoration: none;
    
}

.submit-btn {
  background-color: #FFCC00;
  color: black;
  border-radius: 3px;
  padding: 10px;
  margin-top: 20px;
  border: none;
  width: 100%;
}

.link:hover {
  text-decoration: underline;
  text-underline-offset: 0.2em;
  text-decoration-color: #FFCC00;
}
input .btn{
    border: none;
}
.credit{
    color: black;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}
.links{
    margin-bottom: 1em;
}
.feed, .sm{
    margin-top: 1em;
}
.social-media{
    display: flex;
    margin-left: -17px;
}
.social-media a{
padding: 6px;
}
form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
 
}
.form{
  text-align: center;
}

label {
  display: block;
  margin: 0.5rem 0;
}
input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}
.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}
input[type="submit"] {
  width:30%
}

table {
  position: relative;
  margin: 0 auto;
}
progress{
  width: 40em;
  height: 2em;
}

th {
  padding-right: 10px;
}

.courses-section {
  margin-top: 60px;
  max-width: 90%;
}

.table-contents{
color: #082c4e;
text-decoration: underline ;
text-underline-offset: 0.2em;
  text-decoration-color: #FFCC00;
}
.nav-link{
  color: #082c4e;

}
.highlight{
  background-color: #FFCC00;
  color: #082c4e;
}
h4{
  margin-bottom: 1em;
}